input[type='text'],
textarea {
  width: 100%;
  padding: 8px 0px;
  margin: 8px 0;
  /* display: inline-block; */
  border: none;
  outline: none;
  text-align: justify;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Arial, sans-serif !important;
}
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button {
  /* line-height: 23px; */
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  background-color: #67a4ff;
  color: white;
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

input:focus,
textarea:focus {
  outline: none;
}
button:hover {
  background-color: #f6bdcc;
}

.form {
  width: 95%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 20px;
  margin: auto;
  margin-bottom: 5%;
}

.textContainer {
  display: flex;
  flex-flow: column wrap;
  width: 98%;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 10%;
}
.divImgSelection {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 75px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radius {
  border-radius: 50% !important;
  height: 80px;
  width: 80px;
}

@media only screen and (max-width: 600px) {
  .imgContainer {
    display: none;
  }
}
